absl-py==2.1.0
beartype==0.19.0
blosc2==2.7.1
chex==0.1.87
cloudpickle==3.1.0
cola-ml==0.0.5
cola-plum-dispatch==0.1.4
decorator==5.1.1
dm-tree==0.1.8
equinox==0.11.8
etils==1.10.0
flax==0.10.1
fsspec==2024.10.0
gast==0.6.0
-e git+https://github.com/JaxGaussianProcesses/GPJax.git@d92f22288923829fd5954aa03c59f774bf17a810#egg=gpjax
h5py==3.12.1
humanize==4.11.0
importlib_resources==6.4.5
jax==0.4.27
jaxlib==0.4.27
jaxopt==0.8.2
jaxtyping==0.2.36
joblib==1.4.2
lineax==0.0.7
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.0
msgpack==1.1.0
ndindex==1.9.2
nest-asyncio==1.6.0
numexpr==2.10.1
numpy==1.26.4
opt_einsum==3.4.0
optax==0.2.4
optree==0.13.1
orbax-checkpoint==0.6.4
ott-jax==0.4.9
packaging==24.2
pandas==1.5.3
protobuf==5.28.3
-e git+ssh://git@github.com/Algue-Rythme/DistributionRegressionUS2016.git@15da3e5e2869c08f30a0f1015fb0601c892ca1f4#egg=pummeler
py-cpuinfo==9.0.0
pyarrow==18.0.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytreeclass==0.9.2
pytz==2024.2
PyYAML==6.0.2
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
tables==3.10.1
tensorflow-probability==0.25.0
tensorstore==0.1.68
threadpoolctl==3.5.0
toolz==1.0.0
tqdm==4.67.0
typing_extensions==4.12.2
zipp==3.21.0
